# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pth
*.sqlite3

# Environment
env/
venv/
.venv/
*.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# Jupyter / Notebooks
.ipynb_checkpoints/

# IDE / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Models / large files
models/*.pt
models/*.pth
